@import "./reset.css";

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --second-color: rgba(15, 31, 28, 0.5);
  --orange-color: #ff7b4e;

  --gradient-orange: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);

  /* Transition */
  --anim-superfast: 150ms ease-in;
  --anim-fast: 300ms ease-in;
  --anim-slow: 800ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none;
}

.container {
  border: 4px solid violet;
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: var(--container-width);
}

.container-right {
  border: 4px solid violet;
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

/* Header */
.header {
  padding-top: 44px;
  background: linear-gradient(to right, #428e5f -17.38%, #112120 78.4%), #204434;
  height: 100px;
}

.hf-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* margin-right: 262px; */

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  color: #ffffff;
}
.autho-list {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;

  color: #ffffff;

  transition: var(--anim-fast);
}

header .nav-link.current {
  color: var(--orange-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--orange-color);
}

header .nav-link::after {
  content: "";
  opacity: 0;
  transition: var(--anim-fast);
}

header .nav-link.current::after,
header .nav-link:hover::after {
  content: "";
  position: absolute;
  opacity: 1;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 100px;
}

.nav-list {
  /* margin-right: 233px; */
  display: flex;
  gap: 80px;
}

.autho-list {
  display: flex;
  gap: 25px;
}

.signup {
  padding-top: 13px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;

  color: #ffffff;

  transition: var(--anim-fast);
}

.signup:hover,
.signup:focus {
  color: var(--orange-color);
}

.login {
  padding-right: 42px;
  padding-left: 41px;
  padding-top: 11px;
  padding-bottom: 11px;
  min-width: 128px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;

  color: #ffffff;
  background: var(--gradient-orange);
  border: 2px solid transparent;
  border-radius: 100px;

  transition: var(--anim-fast);
}

.login:hover,
.login:focus {
  border-color: #ffffff;
}

.login:active {
  position: relative;
  top: 2px;
}

/* Main */
/* Hero */
.hero {
  overflow: hidden;
  position: relative;
  min-height: 840px;
  background: linear-gradient(to right, #428e5f -17.38%, #112120 78.4%), #204434;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(../images/bg.svg);
  background-size: 100%;
}

.hero:before {
  content: "";
  position: absolute;
  right: -50px;
  top: -70px;
  display: block;

  width: 894px;
  height: 940px;
  background-image: url(../images/bg/bg-girl.png);
}

.hero-text-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 90px;
  width: 592px;
}

.hero-subtitle {
  display: inline-block;

  margin-bottom: 7px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 31px;
  padding-left: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 55px;
  line-height: 82px;

  color: #ffffff;
}

.hero-text {
  margin-bottom: 68px;

  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: rgba(255, 255, 255, 0.5);
}
.hero-btn {
  padding-top: 25px;
  padding-bottom: 24px;
  padding-right: 53px;
  padding-left: 52px;
  min-width: 263px;

  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;

  color: #fefefe;

  background: var(--gradient-orange);
  border: 2px solid transparent;
  border-radius: 27px;

  transition: var(--anim-fast);
}

.hero-btn:hover,
.hero-btn:focus {
  border-color: #ffffff;
}

.hero-btn:active {
  position: relative;
  top: 2px;
}

/* Destinations */
.destinations {
  padding-top: 96px;
  padding-bottom: 100px;

  overflow-x: hidden;
}

.destinations-flex {
  display: flex;
  gap: 49px;
}

.destinations-text-wrapper {
  width: 456px;
  flex-shrink: 0;
}

.destinations-title {
  margin-bottom: 15px;
  width: 352px;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;

  color: #0f1f1c;
}

.destinantions-title-part {
  font-size: 55px;
  line-height: 1.5;
}

.destinations-text {
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  color: rgba(15, 31, 28, 0.5);
}
.destinations-btn {
  padding-top: 23px;
  padding-bottom: 22px;
  padding-right: 48px;
  padding-left: 48px;
  min-width: 223px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;

  color: #fefefe;

  background: var(--gradient-orange);
  border: 2 solid transparent;
  border-radius: 27px;

  transition: var(--anim-fast);
}

/* .destinations-btn:hover,
.destinations-btn:focus {
  border-color: #ffffff;
} */

.destinations-btn:active {
  position: relative;
  top: 2px;
}

/* Slider */
.destinations-slider {
  width: 1110px;
  flex-shrink: 0;
}

.slider-wrapper {
  position: relative;
  height: 456px;
}

.slider-item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;

  transition: var(--anim-fast);
}

.slider-wrapper .owl-item.center .slider-item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

.slider-button {
  position: absolute;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 68px;
  height: 68px;

  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 50%;
}

.btn-left {
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-right {
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
}

.customers {
  padding-top: 100px;
  padding-bottom: 233px;
}

.customers-flex {
  display: flex;
  gap: 68px;
}

/* .customers-text-wrapper {
} */

.customers-title {
  margin-bottom: 35px;
  width: 565px;

  font-weight: 500;
  font-size: 45px;
  line-height: 1.5;

  color: #0f1f1c;
}
/* .feedback {
} */
/* .customer-av {
} */

.feedback-flex {
  display: flex;
  align-items: center;
  gap: 33px;

  margin-bottom: 60px;
}

.feedback-circle {
  overflow: hidden;

  width: 134px;
  height: 134px;

  border-radius: 50%;
  background-color: var(--orange-color);
}

.customers-img {
  border-radius: 35px;
}
.customer-name {
  font-weight: 500;
  font-size: 33px;
  line-height: 1.5;

  color: #0f1f1c;
}
.customer-place {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;

  color: var(--second-color);
}
.customer-feedback {
  margin-bottom: 30px;
  width: 491px;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;

  color: var(--second-color);
}

/* .star-raiting {
} */

.prepare {
  padding-bottom: 144px;
}

.prepare-bg {
  position: relative;

  margin: 0 auto;
  padding-top: 116px;
  padding-bottom: 115px;
  width: calc(100% - 200px);

  background-color: #ffffff;
  border-radius: 60px;
}
.prepare-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 519px;

  font-weight: 500;
  font-size: 45px;
  line-height: 1.5;
  text-align: center;

  color: #0f1f1c;
}
.prepare-text {
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;

  text-align: center;

  color: var(--second-color);
}

.prepare-btn {
  display: block;

  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-right: 52px;
  padding-left: 53px;
  min-width: 225px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;

  color: #ffffff;

  background: var(--gradient-orange);
  border: 2px solid transparent;
  border-radius: 27px;

  transition: var(--anim-fast);
}

.prepare-btn:active {
  position: relative;
  top: 2px;
}

.icon-5 {
  position: absolute;
  right: 80px;
  top: 83px;
}
.icon-6 {
  position: absolute;
  left: 74px;
  bottom: 47px;
}

.subscribe {
  padding-block: 99px;
}

.subscribe-title {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 494px;

  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  text-align: center;

  color: #0f1f1c;
}

.subscribe-form {
  /* display: flex;
  gap: 191px; */

  margin: 0 auto;
  padding-left: 46px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  max-width: 800px;

  color: var(--second-color);

  background-color: #ffffff;
  border-radius: 35px;
}

.form-input {
  margin-right: 132px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;

  color: var(--second-color);
}

.form-btn {
  padding-right: 87px;
  padding-top: 33px;
  padding-left: 86px;
  padding-bottom: 34px;
  min-width: 300px;

  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;

  color: #ffffff;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 35px;
}

/* Footer */

footer .logo {
  color: var(--orange-color);
}

footer .nav-link {
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--second-color);
}

footer .signup {
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--second-color);
}
